/**
 * 08. Nav Menu
 */
.wuppo-nav-menu-options{
  clear: both;
  float: left;
  width: 100%;

  > .wuppo-fields{
    margin: 10px -10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    > .wuppo-field{
      padding: 12px;

      .wuppo-title{
        float: none;
        width: 100%;
        margin-bottom: 5px;
      }

      .wuppo-fieldset{
        float: none;
        width: 100%;
      }
    }
  }

  .wuppo-field-text input{
    width: 100%;
  }

  .wuppo-field-notice .wuppo-notice{
    padding: 15px;
  }
}

.wuppo-nav-menu-title{
  padding: 12px;
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  &:first-child{
    border-top: 0;
  }

  h4{
    margin: 0;
    padding: 0;
    color: #23282d;
  }
}

.wuppo-nav-menu-icon{
  margin-right: 5px;
}
