/**
 * 12. Responsive
 */
@media only screen and (max-width:1200px){

  .wuppo-metabox{

    .wuppo-field{

      .wuppo-title{
        float: none;
        width: 100%;
        margin-bottom: 10px;
      }

      .wuppo-fieldset{
        float: none;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width:782px){

  .wuppo-header-inner{
    text-align: center;

    h1{
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .wuppo-form-result{
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .wuppo-search,
  .wuppo-header-right,
  .wuppo-header-left{
    width: 100%;
  }

  .wuppo-search{
    text-align: center;
    margin-bottom: 15px;
  }

  .wuppo-footer{
    text-align: center;
  }

  .wuppo-buttons{
    float: none;
  }

  .wuppo-copyright{
    float: none;
    margin-top: 10px;
  }

  .wuppo-nav,
  .wuppo-expand-all,
  .wuppo-reset-section,
  .wuppo-nav-background{
    display: none !important;
  }

  .wuppo-nav-normal + .wuppo-content{
    margin-left: 0;
  }

  .wuppo-section-title,
  .wuppo-section{
    display: block !important;
  }

  .wuppo-field{

    .wuppo-title{
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }

    .wuppo-fieldset{
      float: none;
      width: 100%;
    }
  }

  .wuppo-field-color{

    .button.wp-picker-clear{
      padding: 0 8px;
      line-height: 2.14285714;
      min-height: 32px;
    }
  }

  .wuppo-profile-options,
  .wuppo-taxonomy-edit-fields{

    > .wuppo-field{

      > .wuppo-title{
        float: none;
        width: 100%;
        margin-bottom: 10px;
      }

      > .wuppo-fieldset{
        float: none;
        width: 100%;
      }
    }
  }

  .wuppo-nav-menu-options{

    > .wuppo-fields{
      margin-left: -10px;
      margin-right: -10px;

      > .wuppo-field{
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 782px) {

  .wuppo-modal{

    .wuppo-modal-inner{
      width: 90%;
    }
  }
}

@media only screen and (max-height: 750px) {

  .wuppo-modal{

    .wuppo-modal-inner{
      height: auto;
    }

    .wuppo-modal-content{
      height: calc(100vh - 200px);
    }
  }
}
